<br>
<h1>Chrome DevTools Technical Session</h1>
<hr>
<br><br>
<h3>Chrome DevTools is a set of web developer tools built directly into the Google Chrome browser. DevTools can help you edit pages on-the-fly and diagnose problems quickly, which ultimately helps you build better websites, faster.
</h3>
<img style="width: 10em;
    margin-top: 10em;
    margin-left: 37%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1200px-Google_Chrome_icon_%28September_2014%29.svg.png" alt="">